.menu {
	position: absolute;
	height: 3550px;
	width: 290px;
	background-color: gray;
	-
}
.menu .content li{
	list-style-type: none;
}
.menu .content img{
	margin-top: 30px;
}
.menu .content h2{
	margin-left: 10px;
	color: black;
}
body {
	background-color: lightgrey;
}
.frame1 {
	border-radius: 50px;
	background-color: grey;
	width: 1250px;
	height: 500px;
}
.frame1 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame1 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 120px;
	border-radius: 10px;
}
.frame1 .buttons button:hover {
	background-color: #708090;
}

.frame2 {
	border-radius: 50px;
	background-color: grey;
	width: 425px;
	height: 500px;
}
.frame2 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame2 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
.frame2 .buttons button:hover {
	background-color: #708090;
}
.frame2 .content1 h1{
	margin-left: 150px;
}
.frame3 {
	border-radius: 50px;
	background-color: grey;
	width: 425px;
	height: 500px;

}
.frame3 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame3 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
.frame3 .buttons button:hover {
	background-color: #708090;
}
.frame3 .content1 p{
	margin-left: 100px;
}
.frame4 {
	border-radius: 50px;
	background-color: grey;
	width: 425px;
	height: 500px;
}
.frame4 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame4 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
.frame4 .buttons button:hover {
	background-color: #708090;
}
.frame4 .content1 p{
	margin-left: 100px;
}
.frame5 {
	border-radius: 50px;
	background-color: grey;
	width: 425px;
	height: 500px;
}
.frame5 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame5 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
.frame5 .buttons button:hover {
	background-color: #708090;
}
.frame5 .content1 p{
	margin-left: 100px;
}
.frame6 {
	border-radius: 50px;
	background-color: grey;
	width: 425px;
	height: 500px;
}
.frame6 .img1 img {

	border-radius: 50px;
	border-width: 100px;
	border-color: black;
	margin-right: 50px;
	box-shadow:  0 0 10px, rgba(26, 9, 9, 0.4);

}
.frame6 .buttons button {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}
.frame6 .buttons button:hover {
	background-color: #708090;
}
.frame6 .content1 p{
	margin-left: 100px;
}
.footer h1 {
	margin-left: 1000px;
	position: absolute;
	margin-top: 100%;
}
.header1 button{
	height: 90px;
	width: 400px;
	position: absolute;
	margin-left: 942px;
	top: 900px;
	border-radius: 15px;
	background-color: #708090;
}